---
http_interactions:
- request:
    method: get
    uri: https://api.leen.dev/v1/vms/vulnerabilities?enableCursor=true&limit=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - e7b25061-c808-4b41-9de9-74eedf7309d3
      X-Connection-Id:
      - fce79275-4e70-4122-a7a3-a73438c7f126
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.438203815'
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"id":"000b2555-6ff8-4a9c-837f-b7dd59e79328","device":{"id":"f2b96dba-df34-4435-8ba9-14948a69ef96","status":"active","platform":"windows","hostnames":["leen-win2019-1.encom.lan"],"os_version":"WindowsServer2019 1809","os_major_version":null,"os_minor_version":"17763","fqdns":["leen-win2019-1.encom.lan"],"ipv4s":["10.10.254.199","127.0.0.1"],"ipv6s":["fe80::3742:edd2:bf60:d0df","::1"],"mac_addresses":["bc:24:11:ff:fe:1d:4c:8c","bc:24:11:ff:fe:1d:4c:8c"],"last_seen":"2025-06-25T13:38:32.226234Z","first_seen":"2024-03-03T21:31:58.940348Z","source_vendors":[{"vendor":"MS_DEFENDER_VMS","vendor_id":"c4a349e2a105f36aebc9bc9ce7345af3463f826e","agent_info":{"agent_version":"10.8675.17763.5458","signature_version":"10.8675.17763.5458","policies":null}}],"installed_software":null,"ad_info":{"org_unit":null,"site_name":null,"domain":null,"device_id":null},"cloud_metadata":null,"tags":null,"identities":[],"vendor_data":null},"resource":null,"name":"CVE-2023-40547","description":"Summary: CVE-2023-40547 is a remote code execution vulnerability in the Shim package, specifically in its HTTP boot support functionality. The flaw arises from trusting attacker-controlled values when parsing HTTP responses, enabling an attacker to craft malicious HTTP requests that result in an out-of-bounds write primitive. This vulnerability is exploitable during the early boot phase, requiring the attacker to perform a Man-in-the-Middle attack or compromise the boot server. Impact: Successful exploitation of this vulnerability can lead to complete system compromise, including bypassing Secure Boot mechanisms. AdditionalInformation: This vulnerability affects Shim versions less than 15.8-1 and shim-unsigned-x64 versions less than 15.8-5. It is critical during the early boot phase and requires specific conditions for exploitation, such as network interception or server compromise. Remediation: Apply the latest patches and updates provided by the respective vendors. [Generated by AI]","scan_output":null,"cve":["CVE-2023-40547"],"cvss_version":"3.0","cvss_base_score":8.3,"cvss_vector":"CVSS:3.0/AV:A/AC:H/PR:N/UI:N/S:C/C:H/I:H/A:H/E:U/RL:O/RC:C","cvss_temporal_score":null,"cvss_temporal_vector":null,"cert_id":null,"port":null,"protocol":null,"service":null,"severity":"high","first_seen":"2025-05-20T10:03:20Z","last_seen":"2025-06-24T20:05:41Z","state":"open","state_updated_at":"2025-06-25T21:12:38.031158Z","patchable":null,"solution":null,"category":"application","vulnerability_url":"https://security.microsoft.com/vulnerabilities/vulnerability/CVE-2023-40547/overview","vendor":"MS_DEFENDER_VMS","vendor_id":"c4a349e2a105f36aebc9bc9ce7345af3463f826e_microsoft_windows_server_2019_10.0.17763.5458_CVE-2023-40547","vendor_severity":"High","vendor_scan_id":null,"vendor_data":{"software_vendor":"microsoft","software_name":"windows_server_2019","software_version":"10.0.17763.5458","epss":0.04175}},{"id":"000cbc6e-dc27-443d-a797-f73cd2e18415","device":{"id":"6e0c83c1-0adf-405c-9f57-eb78b492371e","status":"active","platform":"windows","hostnames":["leen-win2019-2.encom.lan"],"os_version":"WindowsServer2019 1809","os_major_version":null,"os_minor_version":"17763","fqdns":["leen-win2019-2.encom.lan"],"ipv4s":["10.10.254.204","127.0.0.1"],"ipv6s":["fe80::1eac:67d7:b794:b28d","::1"],"mac_addresses":["bc:24:11:ff:fe:a4:2d:1e","bc:24:11:ff:fe:a4:2d:1e"],"last_seen":"2025-06-25T12:52:02.[...]
